<div class="container mt-3">
  <div class="row m-5  justify-content-center">
    <h4>本当に退会しますか？</h4>
  </div>

  <div class="row m-5  justify-content-center text-center">
    <h5>
      退会すると、会員登録情報や</br>
      これまでの購入履歴が閲覧できなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。
    </h5>
  </div>
  
  <div class="row m-5 justify-content-center text-center">
    <div class="mr-5">
      <%= link_to "退会しない", customers_my_page_path(current_customer), class: 'btn btn-primary' %>
    </div>
    <div>
      <%= link_to "退会する", customers_withdraw_path, method: :patch, data: {confirm: "退会しますか？"}, class: 'btn btn-danger' %>
    </div>
  </div>
</div>