<div>
  <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
</div>

<div>
  <h2>新着商品</h2>
  
  <% @items.each do |items| %>

  <div>
    <div>
      <%= image_tag items.get_image, size: "100x100" %>
      <p><%= link_to items.name, item_path(items.id) %></p>
      <p>￥<%= number_to_currency(items.add_tax_price) %></p>
    </div>
  </div>
  
  <% end %>
  
  <%= link_to "全ての商品を見る", items_path %>
</div>