<div>
  <div>
    <%= image_tag @item.get_image, size: "200x200" %>
  </div>
  <div>
     <p><%= @item.name %></p>
     <p><%= @item.introduction %></p>
     
     <p></p>
     <p>￥<%= @item.add_tax_price %>(税込)</p>
  </div>
</div>